<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Course Review</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Course Review </h1>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
          <th><i class="fas fa-bolt"></i>Course Title</th>
          <th><i class="fas fa-map-marker-alt"></i> School </th>
          <th><i class="fas fa-clock"></i> Time Uploaded</th>
          <th><i class="fas fa-bolt"></i> Description</th>
        </tr>
      
      </thead>
      <tbody>
      	<tr>
		  <td> 
		  	<a th:text="${course.courseName}">Course Title</a>
		  </td>	        
          <td th:text="${course.school.name}">School</td>
          <td th:text="${{course.time}}">Time Uploaded</td>
          <td th:text="${{course.description}}">course description</td>
          <td>
    	  </td>
        </tr>
      	
      </tbody>
    </table>

  </div>
</body>
</html>